@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
/*
    font-family: 'Nabla', cursive;
    font-family: 'Megrim', cursive;
*/

:root {
    --c01: white;
    --c02: black;
    --c1: #041C32;
    --c2: #04293A;
    --c3: #064663;
    --c4: #5999b6;

    --f1: 'Megrim', cursive;
    --f2: 'Nabla', cursive;
    --f3: calibri;

    --bg1: url("../res/nightsky.png");
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    width: 100%;
    background-image: var(--bg1);
    background-size: cover;
}

.header {
    width: 100%;
    text-align: center;
}
.header h1 {
    font-family: var(--f1);
    color: var(--c01);
    /* height: fit-content; */
    font-size: clamp(150px, 14vw, 300px);
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.githh {
    width: 40px;
    height: auto;
    filter: invert(1);
    margin-top: 50px;
}

.border {
    width: 60vw;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
    justify-content: space-evenly;
    row-gap: 1rem;
    column-gap: 1rem;
    margin: 2rem;
    margin-top: 9vw;
}
.container div {
    display: flex;
    height: fit-content;
    background-color: var(--c2);
    border-radius: 6px;
    height: 100%;
}
.wlink {
    width: 82%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    white-space: pre-line;
    text-decoration: none;
    color: var(--c01);
    font-family: var(--f1);
    font-size: 40px;
    font-weight: 500;
}
.container div:hover {
    background-color: var(--c3);
}

.githt {
    height: 40px;
    padding: 5px;
}
.githl {
    position: absolute;
}

article{ flex:1; } /* fills out space between container and footer*/

.footer {
    display: flex;
    background-color: var(--c1);
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    overflow: hidden;
    font-family: var(--f3);
    color: var(--c4);
    font-weight: 1000;
}
