@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../res/bg/circle.svg");
  background-size: auto;
}

.header {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #e4e4e4;
}
.header .logo {
  width: clamp(6rem, 10vw + 1rem, 22rem);
}
.header h1 {
  font-size: clamp(5rem, 10vw + 1rem, 20rem);
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.header p {
  position: absolute;
  display: flex;
  font-weight: 300;
  justify-content: flex-end;
  width: clamp(14.3rem, 28.2vw + 3rem, 56.4rem);
  margin-top: clamp(5rem, 10vw + 1rem, 20rem);
  font-size: clamp(1.5rem, 3vw + 0.5rem, 5rem);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2vw;
}
.intro p {
  text-align: center;
  width: clamp(10rem, 30vw + 10rem, 75rem);
  margin: 0 auto;
  color: #e4e4e4;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  font-size: clamp(1rem, 1vw + 0.4rem, 2rem);
}
.intro .description a {
  display: grid;
  width: fit-content;
  margin: 0 auto;
}
.intro .description a img {
  filter: invert(1);
  width: clamp(2rem, 2.5vw + 0.5rem, 3rem);
  padding: clamp(1rem, 1vw + 0.4rem, 2rem);
  display: flex;
}
.intro .project-intro {
  display: flex;
  flex-direction: column;
  background-color: rgba(53, 53, 53, 0.5);
  width: clamp(10rem, 30vw + 10rem, 75rem);
  max-height: 15rem;
  padding: 1.2rem;
  border-radius: 15px;
  color: #e4e4e4;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
}
.intro .project-intro .counter {
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(1rem, 1vw + 0.4rem, 2rem);
  align-items: center;
  column-gap: 2rem;
  row-gap: 0.5rem;
  justify-content: space-between;
}
.intro .project-intro .counter h2 {
  display: flex;
  font-size: clamp(1rem, 1vw + 0.4rem, 2rem);
}
.intro .project-intro .counter h2 #amount {
  font-size: clamp(1rem, 1vw + 0.4rem, 2rem);
  font-weight: 600;
  width: fit-content;
  padding: 0;
  margin: 0 5px;
}
.intro .project-intro .counter #list-filter {
  width: clamp(8.8rem, 20vw + 2rem, 15rem);
  padding: 5px 10px;
  border: none;
  background-color: rgba(53, 53, 53, 0.5);
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
}
.intro .project-intro .counter #list-filter::placeholder {
  color: #9d9da3;
}
.intro .project-intro .counter #list-filter:focus {
  color: #e4e4e4;
}
.intro .project-intro hr {
  margin: 10px 0;
  border: none;
  height: 1.5px;
  width: 100%;
  background-color: #e4e4e4;
  opacity: 0.7;
}
.intro .project-intro .project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 2rem;
  flex-wrap: wrap;
  justify-items: start;
  align-items: center;
  row-gap: 0.4rem;
  overflow-y: auto;
}
.intro .project-intro .project-list a {
  color: #e4e4e4;
  font-size: 1.2rem;
}
.intro .project-intro .project-list a:hover {
  color: #5999b6;
}
.intro .project-intro .project-list::-webkit-scrollbar {
  width: 5px;
}
.intro .project-intro .project-list::-webkit-scrollbar-track {
  background: #000;
  border-radius: 10px;
}
.intro .project-intro .project-list::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 10px;
}
.intro .project-intro .project-list::-webkit-scrollbar-thumb:hover {
  background: #5999b6;
}

.card-setup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vw;
}

.card-button {
  border: none;
  border-radius: 50px;
  padding: 35px 8px;
  margin: 0 0.5rem;
  background-color: #073950;
  cursor: pointer;
  outline: none;
}
.card-button img {
  filter: invert(1);
  width: 25px;
}
.card-button:hover {
  filter: brightness(1.3);
}

.project-cards {
  display: flex;
  overflow-x: scroll;
  gap: 0.9rem;
  scroll-behavior: smooth;
  align-items: center;
}
.project-cards::-webkit-scrollbar {
  height: 0px;
}
.project-cards * {
  word-wrap: break-word;
}

.skeleton-card {
  background-color: rgba(53, 53, 53, 0.5);
  width: clamp(10rem, 30vw + 10rem, 75rem);
  min-width: 15rem;
  height: 15rem;
  border-radius: 15px;
}
.skeleton-card * {
  border-radius: 15px;
  background-color: rgba(77, 77, 77, 0.5);
  margin: 1rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.skeleton-card .skelet1 {
  height: 3rem;
}
.skeleton-card .skelet2 {
  height: 6rem;
}
.skeleton-card .skelet3 {
  height: 2rem;
}

.card {
  display: grid;
  grid-template-rows: min-content;
  min-width: 17rem;
  max-width: 17rem;
  height: 100%;
  color: #000;
  background-color: rgba(53, 53, 53, 0.5);
  border-radius: 15px;
  padding: 15px;
  align-items: flex-start;
}
.card * {
  display: flex;
  justify-content: space-between;
  color: #e4e4e4;
  height: fit-content;
}
.card .card-source {
  align-items: flex-end;
}
.card .card-source img {
  padding: 6px;
  width: 30px;
  height: 30px;
  filter: invert(1);
}
.card .card-name {
  font-size: 2rem;
  font-weight: 500;
  word-break: break-all;
}
.card .card-name[href*="//"]:after {
  margin: 0 5px;
  filter: invert(1);
  content: url("../res/icons/exter-link.svg");
}
.card .card-created {
  font-size: 0.8rem;
}
.card .card-created * {
  font-weight: 300;
}
.card .card-created .card-releases {
  flex-direction: column;
  align-items: flex-end;
}
.card .card-description {
  word-break: normal;
  margin: 5px 0;
}
.card .card-languages {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.card .card-languages span {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 5px 0;
  background-color: #073950;
  padding: 5px 8px;
  border-radius: 20px;
}
.card .card-topics {
  justify-content: space-evenly;
  align-items: center;
}
.card .card-topics * {
  color: #5999b6;
  font-size: 0.8rem;
}

.filtered {
  display: none;
}

.top-button {
  display: none;
  border: none;
  border-radius: 50px;
  padding: 20px 20px;
  background-color: #7e3333;
  cursor: pointer;
  width: fit-content;
  margin: 20px auto;
  outline: none;
}
.top-button img {
  filter: invert(1);
  width: 25px;
}
.top-button:hover {
  filter: brightness(1.3);
}

article {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.footer img {
  width: 30px;
  margin: 0 6px;
}
.footer a {
  font-family: "Lexend Deca", sans-serif;
  color: #5999b6;
  font-weight: 1000;
}

@keyframes pulse {
  50% {
    opacity: 0.4;
  }
}
@media only screen and (max-width: 700px) {
  .card {
    width: clamp(10rem, 30vw + 10rem, 75rem);
    max-width: none;
    min-width: none;
  }
  .card-button {
    display: none;
  }
  .project-cards {
    flex-direction: column;
    overflow: hidden;
    word-break: break-all;
  }
  .top-button {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
