@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
/*
    font-family: 'Nabla', cursive;
    font-family: 'Megrim', cursive;
*/

:root {
    --c01: white;
    --c02: black;
    --c1: #041C32;
    --c2: #04293A;
    --c3: #064663;
    --c4: #5999b6;

    --cat0: #606060;
    --cat1: #6f3f17;
    --cat2: #175877;
    --cat3: #1d187a;
    --cat4: #7a7a18;
    --cat5: #187874;
    
    --f1: 'Megrim', cursive;
    --f2: 'Nabla', cursive;
    --f3: calibri;

    --bg1: url("../res/nightsky.png");
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    width: 100%;
    background-image: var(--bg1);
    background-size: cover;
}

.header {
    width: 100%;
    text-align: center;
}
.header h1 {
    font-family: var(--f1);
    color: var(--c01);
    /* height: fit-content; */
    font-size: clamp(150px, 14vw, 300px);
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.header p {
    color: var(--c01);
    font-family: var(--f1);
    font-weight: 900;
    font-size: 25px;
    margin: 0 20px;
    margin-bottom: 25px;
}
.githh {
    width: 40px;
    height: auto;
    filter: invert(1);
    margin-bottom: 25px;

}

.border {
    width: 60vw;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.chocobar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    color: var(--c01);
    font-family: var(--f1);
    font-size: 20px;
}
.chocoCount {
    display: flex;
    font-size: 20px;
}
#chocos {
    margin-left: 6px;
    font-size: 32px;
    font-weight: 600;
}
.chocoCategories {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    color: var(--c01);
    font-family: var(--f3);
    font-size: 15px;
}
.catSet {
    display: flex;
    margin: 5px;
}
.cat {
    width: 20px;
    height: 20px;
    margin: 0 9px;
    border-radius: 50%;
}
.cat0 { background-color: var(--cat0); }
.cat1 { background-color: var(--cat1); }
.cat2 { background-color: var(--cat2); }
.cat3 { background-color: var(--cat3); }
.cat4 { background-color: var(--cat4); }
.cat5 { background-color: var(--cat5); }

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
    justify-content: center;
    row-gap: 0.5rem;
    column-gap: 1rem;
    margin: 2rem;
    margin-top: 0;
}
.container div {
    display: flex;
    background-color: var(--c2);
    height: fit-content;
    border-radius: 6px;
    height: 100%;
    transition: background-color 0.3s ease-in-out;
}
.container div:hover { 
    background-color: var(--c3);
}
.wlink {
    width: 82%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--c01);
    font-family: var(--f1);
    font-size: 40px;
    font-weight: 500;
}

.githt {
    height: 40px;
    margin: 10px;
    border-radius: 50%;
}
.githl {
    display: flex;
    align-items: center;
}

article{ flex:1; } /* fills out space between container and footer*/

.footer {
    display: flex;
    background-color: var(--c1);
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    overflow: hidden;
    font-family: var(--f3);
    color: var(--c4);
    font-weight: 1000;
}
