// sass --watch style/style.sass:style/style.css

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap')

$c-white: #e4e4e4
$c-black: #000
$c-gray: #9d9da3
$c-bg: #001220
$c-card: rgba(53, 53, 53, 0.5)
$c-skelet: rgba(77, 77, 77, 0.5)
$c-ring: #001260
$c-button: #073950
$c-text1: #5999b6
$c-sperk: #7e3333

$s-title: clamp(5rem, 10vw + 1rem, 20rem)
$s-subtitle: clamp(14.3rem, 28.2vw + 3rem, 56.4rem) // title * 1.4
$s-underTitle: clamp(10rem, 30vw + 10rem, 75rem) 
$s-logo: clamp(6rem, 10vw + 1rem, 22rem)
$s-text: clamp(1.5rem, 3vw + 0.5rem, 5rem)
$s-desc: clamp(1rem, 1vw + 0.4rem, 2rem)

$font1: 'Lexend Deca', sans-serif

$bg: url("../res/bg/circle.svg")


*
    margin: 0
    padding: 0
    font-family: $font1
    text-decoration: none

body
    display: flex
    flex-direction: column
    min-height: 100vh
    // width: 100%
    background-image: $bg
    background-size: auto

.header
    margin: 30px
    display: flex
    justify-content: center
    align-items: flex-end
    color: $c-white
    .logo
        width: $s-logo

    h1
        font-size: $s-title
        font-weight: 300
        margin: 0
        padding: 0

    p
        position: absolute
        display: flex
        font-weight: 300
        justify-content: flex-end
        width: $s-subtitle
        margin-top: $s-title
        font-size: $s-text

.container
    display: flex
    justify-content: center
    flex-direction: column

.intro
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 1rem
    margin: 2vw
    p
        text-align: center
        width: $s-underTitle
        margin: 0 auto
        color: $c-white
        font-family: $font1
        font-weight: 300
        font-size: $s-desc

    .description a
        display: grid
        width: fit-content
        margin: 0 auto
        img
            filter: invert(1)
            width: clamp(2rem, 2.5vw + 0.5rem, 3rem)
            padding: $s-desc
            display: flex

    .project-intro
        display: flex
        flex-direction: column
        background-color: $c-card
        width: $s-underTitle
        max-height: 15rem
        padding: 1.2rem
        border-radius: 15px
        color: $c-white
        font-family: $font1
        font-size: 1rem
        .counter
            display: flex
            flex-wrap: wrap
            font-size: $s-desc
            align-items: center
            column-gap: 2rem
            row-gap: 0.5rem
            justify-content: space-between
            h2
                display: flex
                font-size: $s-desc
                #amount
                    font-size: $s-desc
                    font-weight: 600
                    width: fit-content
                    padding: 0
                    margin: 0 5px

            #list-filter
                width: clamp(8.8rem, 20vw + 2rem, 15rem)
                padding: 5px 10px
                border: none//2px solid $c-text1
                background-color: $c-card
                outline: none
                border-radius: 10px
                box-sizing: border-box
                &::placeholder
                    color: $c-gray
                &:focus
                    color: $c-white

        hr
            margin: 10px 0
            border: none
            height: 1.5px
            width: 100%
            background-color: $c-white
            opacity: 0.7

        .project-list
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
            column-gap: 2rem
            flex-wrap: wrap
            justify-items: start
            align-items: center
            row-gap: 0.4rem
            overflow-y: auto
            a
                color: $c-white
                font-size: 1.2rem
                &:hover
                    color: $c-text1

            &::-webkit-scrollbar 
                width: 5px
            &::-webkit-scrollbar-track 
                background: $c-black
                border-radius: 10px
            &::-webkit-scrollbar-thumb 
                background: $c-white
                border-radius: 10px
            &::-webkit-scrollbar-thumb:hover 
                background: $c-text1
            
.card-setup
    display: flex
    align-items: center
    justify-content: center
    margin: 2vw

.card-button
    border: none
    border-radius: 50px
    padding: 35px 8px
    margin: 0 0.5rem
    background-color: $c-button
    cursor: pointer
    outline: none
    img
        filter: invert(1)
        width: 25px

    &:hover
        filter: brightness(1.3)

.project-cards
    display: flex
    overflow-x: scroll
    padding: 0
    gap: 1rem
    scroll-behavior: smooth
    align-items: center
    &::-webkit-scrollbar 
        height: 0px
    & *
        word-wrap: break-word

.skeleton-card 
    background-color: $c-card
    width: clamp(10rem, 30vw + 10rem, 75rem)
    min-width: 15rem
    height: 15rem
    border-radius: 15px
    & *
        border-radius: 15px
        background-color: $c-skelet
        margin: 1rem
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite

    .skelet1
        height: 3rem
    .skelet2
        height: 6rem
    .skelet3
        height: 2rem

.card 
    display: grid
    grid-template-rows: min-content 
    min-width: 17rem
    max-width: 17rem
    height: 100%
    color: $c-black
    background-color: $c-card
    border-radius: 15px
    padding: 15px
    align-items: flex-start
    
    & *
        display: flex
        justify-content: space-between
        color: $c-white
        height: fit-content

    .card-source
        align-items: flex-end
        img 
            padding: 6px
            width: 30px
            height: 30px
            filter: invert(1)

    .card-name
        font-size: 2rem
        font-weight: 500
        word-break: break-all
        &[href*="//"]:after
            margin: 0 5px
            filter: invert(1)
            content: url("../res/icons/exter-link.svg")

    .card-created
        font-size: 0.8rem
        *
            font-weight: 300

        .card-releases
            flex-direction: column
            align-items: flex-end

    .card-description
        word-break: normal
        margin: 5px 0

    .card-languages
        flex-wrap: wrap
        justify-content: space-evenly
        align-items: center
        span
            font-size: 0.75rem
            font-weight: 700
            margin: 5px 0
            background-color: $c-button
            padding: 5px 8px
            border-radius: 20px

    .card-topics
        justify-content: space-evenly
        align-items: center
        *
            color: $c-text1
            font-size: 0.8rem

.filtered
    display: none

.top-button
    display: none
    border: none
    border-radius: 50px
    padding: 20px 20px
    background-color: $c-sperk
    cursor: pointer
    width: fit-content
    margin: 20px auto
    outline: none
    img
        filter: invert(1)
        width: 25px

    &:hover
        filter: brightness(1.3)

article
    flex: 1 // fills out space between container and footer

.footer
    display: flex
    justify-content: center
    align-items: center
    margin: 10px 0
    img
        width: 30px
        margin: 0 6px

    a
        font-family: $font1
        color: $c-text1
        font-weight: 1000

@keyframes pulse 
    50%
        opacity: 0.4

@media only screen and (max-width: 700px)
    .card
        width: $s-underTitle
        max-width: none
        min-width: none
    .card-button
        display: none
    .project-cards
        flex-direction: column
        overflow: hidden
        word-break: break-all
    .top-button
        display: block
